#content
  ~ @page.to_html(self)
  - unless @page.articles.empty?
    - @page.articles.each do |page|
      %article
        - if page.date
          #time
            #day= page.date.strftime("%d")
            #month= page.date.strftime("%b")
            #year= page.date.strftime("%Y")      
        %h1
          %a{ :href => page.abspath }= page.heading
        - if page.summary.nil? || page.summary.empty?
          ~ page.body
        - else
          ~ page.summary
          %p.read_more
            %a{ :href => page.abspath }= page.read_more
      #separator
      
    - pages_in("blog")
